body {
  background-color: #222;
  color: #fff;
}

nav {
  background-color: #111;
  padding: 10px;
}

.logo img {
  height: 40px;
  width: 40px;
}

.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}
